.navigation {
    height: 8rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-bottom: .2rem solid var(--color-black);

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        

        .logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: var(--font-weight-medium);

            @include break-point(mobile) {
                font-size: 1.2rem;
            }

            .icon {
                border-radius: 50%;
                width: 4.5rem;
                height: 4.5rem;
                border: .2rem solid var(--color-pink);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 2.5rem;

                @include break-point(mobile) {
                    width: 3.5rem;
                    height: 3.5rem;
                    margin-right: 1.25rem;
                }

                svg {
                    width: 2.4rem;
                    height: 2.4rem;
                    fill: var(--color-pink);
                }
            }
        }

        .menu {

            ul {
                display: flex;

                li {
                    color: var(--color-white);
                    font-weight: var(--font-weight-medium);

                    a {
                        
                        &:hover {
                            color: var(--color-pink);
                        }
                    }
                }
            }

            &.desktop {
                display: flex;
                justify-content: flex-end;
                
                @include break-point(mobile) {
                    display: none;
                }

                ul {  
                    li {
                        a {
                            font-size: 1.2rem;
                            line-height: 1rem;
                            font-weight: var(--font-weight-medium);
                            padding: 1rem;
                        }
                    }
                }
            }

            &.mobile {
                display: none;

                @include break-point(mobile) {
                    display: flex;
                    justify-content: flex-end;
                }

                ul {
                    li {
                        a {
                            .icon {
                                width: 3rem;
                                height: 3rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
            
                                svg {
                                    width: 3rem;
                                    height: 3rem;
                                    fill: var(--color-pink);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}